## Convertendo Parquet para formato aceito pelo Feast

In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('sample_products.parquet')

In [3]:
df.head()

,product_id,seller_id,query,search_page,position,title,concatenated_tags,creation_date,price,weight,express_delivery,minimum_quantity,view_counts,order_counts,category
0,11394449,8324141,espirito santo,2,6,Mandala Espírito Santo,mandala mdf,2015-11-14 19:42:12,171.890000,1200.0,1,4,244,NaN,Decoração
1,15534262,6939286,cartao de visita,2,0,Cartão de Visita,cartao visita panfletos tag adesivos copos lon...,2018-04-04 20:55:07,77.670000,8.0,1,5,124,NaN,Papel e Cia
2,16153119,9835835,expositor de esmaltes,1,38,Organizador expositor p/ 70 esmaltes,expositor,2018-10-13 20:57:07,73.920006,2709.0,1,1,59,NaN,Outros
3,15877252,8071206,medidas lencol para berco americano,1,6,Jogo de Lençol Berço Estampado,t jogo lencol menino lencol berco,2017-02-27 13:26:03,118.770004,0.0,1,1,180,1.0,Bebê
4,15917108,7200773,adesivo box banheiro,3,38,ADESIVO BOX DE BANHEIRO,adesivo box banheiro,2017-05-09 13:18:38,191.810000,507.0,1,6,34,NaN,Decoração

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38000 entries, 0 to 37999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_id         38000 non-null  int64
 1   seller_id          38000 non-null  int64
 2   query              38000 non-null  object
 3   search_page        38000 non-null  int64
 4   position           38000 non-null  int64
 5   title              38000 non-null  object
 6   concatenated_tags  37998 non-null  object
 7   creation_date      38000 non-null  object
 8   price              38000 non-null  float64
 9   weight             37942 non-null  float64
 10  express_delivery   38000 non-null  int64
 11  minimum_quantity   38000 non-null  int64
 12  view_counts        38000 non-null  int64
 13  order_counts       17895 non-null  float64
 14  category           38000 non-null  object
dtypes: float64(3), int64(7), object(5)
memory usage: 4.3+ MB

In [5]:
from pandas.io import sql
import sqlalchemy
import pymysql

In [16]:
database_username = 'feast_user'
database_password = 'feast'
database_ip       = 'mysql:3306'
database_name     = 'feast_database'
database_connection = sqlalchemy.create_engine('mysql+pymysql://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name))

In [9]:
df.to_sql(con=database_connection, name='table_name_for_df', if_exists='replace')

38000

In [36]:
import pymysql.cursors
connection = pymysql.connect(host='mysql',
                             user=database_username,
                             password=database_password,
                             database=database_name,
                             cursorclass=pymysql.cursors.DictCursor)

In [34]:
with connection:

    with connection.cursor() as cursor:
        # Read a single record
        sql = "SELECT `product_id` FROM `table_name_for_df`"
        cursor.execute(sql, ('webmaster@python.org',))
        result = cursor.fetchone()
        print(result)

Error: Already closed